*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-size: 16px;
}

header{
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-container, .main-container{
    display: flex;
    justify-content: center;
    width: 80%;
}

.header-container{
    align-items: center;
    flex-direction: row;
    height: 100vh;
}

.img-container{
    position: relative;
}

header img{
    height: 65vh;
}

header h2{
    position: absolute;
    top: 87%;
    left: 7.5%;
    font-size: 2.8rem;
}

.header-details{
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 1px solid black;
    height: 50%;
    padding: 30px;
    background-color: white;
}

h3{
    font-size: 2rem;
}

.header-details p{
    font-size: 1.3rem;
    line-height: 1.5;
    margin: 30px 0;
}

.header-icons{
    font-size: 1.7rem;
    width: 100%;
    text-align: right;
}

header::before {
  content: "";
  position: absolute;
  width: 100%;
  background-color: lightblue;
  height: 80%;
  transform: skewY(-10deg);
  top: -20%;
  z-index: -200;
}

main{
    display: flex;
    justify-content: center;
}

.main-container{
    flex-direction: column;
}

.projects-container{
    display: flex;
    justify-content: center;
    min-height: 100vh;
}

.projects{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 25px;
    width: 100%;
    margin-top: 15px;
}

.project{
    border: 1px solid black;
}

.project-img{
    height: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid black;
    font-size: 1.2rem;
}

.project-details{
    padding: 10px 20px 20px 20px;
}

.project-links{
    display: flex;
    flex-direction: row;
    gap: 52%;
}

.project-links{
    font-size: 1.1rem;
}

.project-description{
    font-size: 0.9rem;
    margin-top: 10px;
}

