*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --maroon: #5E2A25;
    --olive: #8F7C3a;
    --beige: #E1D3a9;
    --green: #534b31;
    --orange: #534b31;
    --brown: #734f31;
}

body{
    font-size: 16px;
    background-color: var(--beige);
    font-family: quicksand;
}

header, footer{
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-container, .main-container, .footer-container{
    display: flex;
    justify-content: center;
    width: 80%;
}

.header-container{
    align-items: center;
    flex-direction: row;
    min-height: 100vh;
}

header .img-container{
    position: relative;
}

header img{
    height: 65vh;
    box-shadow: -8px 8px 20px rgba(0, 0, 0, 0.3);
}

header h2{
    position: absolute;
    top: 87%;
    left: 4.5%;
    font-size: 2.6rem;
    color: var(--maroon);
    text-shadow: 2px 2px 3px antiquewhite;
}

.header-details{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: -10px;
    height: 50%;
    padding: 30px;
    background-color: var(--olive);
    color: antiquewhite;
    box-shadow: 8px 8px 20px rgba(0, 0, 0, 0.3);
}

h3{
    font-size: 2rem;
}

.header-details p{
    font-size: 1.3rem;
    line-height: 1.5;
    margin: 30px 0;
}

.header-icons{
    font-size: 1.7rem;
    width: 100%;
    text-align: right;
}

header::before {
  content: "";
  position: absolute;
  width: 100%;
  background-color: var(--maroon);
  height: 80%;
  transform: skewY(-10deg);
  top: -20%;
  z-index: -200;
}

main{
    display: flex;
    justify-content: center;
}

.main-container{
    flex-direction: column;
}

.projects-container{
    display: flex;
    justify-content: center;
    min-height: 100vh;
}

.projects{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 25px;
    width: 100%;
    margin-top: 15px;
    color: antiquewhite;
}

.project{
    background-color: var(--brown);
    box-shadow: 8px 8px 20px rgba(0, 0, 0, 0.3);
}

.project-img{
    height: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid antiquewhite;
    font-size: 1.2rem;
    background-color: var(--orange);
}

.project-details{
    padding: 10px 20px 20px 20px;
}

.project-links{
    display: flex;
    flex-direction: row;
    gap: 49%;
}

.project-links{
    font-size: 1.1rem;
}

.project-description{
    font-size: 0.9rem;
    margin-top: 10px;
}

footer{
    width: 100vw;
    height: 70vh;
    margin-top: 100px;
    background-color: var(--maroon);
    color: antiquewhite;
}

.footer-container{
    height: 100%;
}

footer img{
    height: 75%;
    border: 1px solid antiquewhite;
}

#contact-description{
    font-size: 1rem;
    margin: 20px 0;
    line-height: 1.2;
}

.contact-info{
    line-height: 1.5;
    margin-top: 30px;
}

.contact{
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.contacts{
    margin: 20px 0 40px 0;
}

.footer-icons{
    display: flex;
    font-size: 1.8rem;
    gap: 20px; 
}

footer .img-container{
    height: 100%;
    display: flex;
    align-items: center;
}

i:hover, .project-name:hover{
    cursor: pointer;
    color:rgb(170, 159, 145);
    scale: 1.1;
    transition: all 0.2s ease;
}

i, .project-name{
    transition: all 0.2s ease;
}